html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.background-img {
    background: url('../img/gears.svg');
    /*background-size: cover;*/
    width: 100%;
    height: 100%;
}

.background-color {
    background: #fff;
    width: 100%;
    height: 100%;
}

.center-content {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login {
    background: #fff;
    padding: 20px;
    width: 400px;
    border: solid 1px #ddd;
    -webkit-box-shadow: 2px 2px 10px #aaa;
    -moz-box-shadow: 2px 2px 10px #aaa;
    box-shadow: 2px 2px 10px #aaa;
}

.login-content {
    padding: 30px;
}

.menu-img {
    width: 300px;
}

.header {
    width: 100%;
    height: 50px;
    background: #2b3236;
    position: absolute;
    z-index: 2;
    top: 0px;
}

.footer {
    border-top: 1px solid rgba(0,0,0,.125);
    background: #2b3236;
    padding: 15px 0px 5px;
    color: #fff;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.footer-text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.content {
    padding: 40px;
    border: none;
    color: #555;
    position: relative;
    z-index: 1;
    height: 100vh;
    top: 0px;
}

.content h1 {
    font-size: 4em;
    font-weight: 700;
}

.sidebar {
    background: #fff;
    height: 100vh;
    position: relative;
    z-index: 3;
    border-right: solid 1px #ddd;
    -webkit-box-shadow: 2px 0px 5px #ddd;
    -moz-box-shadow: 2px 0px 5px #ddd;
    box-shadow: 2px 0px 5px #ddd;
}

.menu {
    padding: 50px 60px;
    text-align: right;
}

.menu ul li {
    list-style: none;
    padding: 30px 0px 10px;
}

.menu ul li a {
    font-size: 20px;
    text-decoration: none;
    color: #555;
    width: 100%;
    display: block;
    border-bottom: solid 1px #ddd;
    padding-bottom: 10px;
}

.menu ul li a:hover {
    color: #9bc93d;
    border-bottom: solid 1px #9bc93d;
}

.form-control:focus {
    border-color: #7ca231 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(155, 201, 61) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(155, 201, 61) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(155, 201, 61) !important;
}