<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Inicio | Impacto Tecnologico</title>

        <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="../assets/css/style.css">

        <script>window.$ = window.jQuery = require('jquery');</script>
        <!-- <script type="text/javascript" src="../assets/js/jquery-3.3.1.js"></script> -->
        <script type="text/javascript" src="../assets/js/script.js"></script>
    </head>

    <body>
        <div class="container-fluid background-color">
            <div class="row">
                <div class="col-md-3">
                    <div class="sidebar">
                        <center>
                            <img src="../assets/img/logo-techie.png"  class="menu-img">
                        </center>

                        <div class="menu">
                            <ul>
                                <li><a href="#">Inicio</a></li>
                                <li><a href="#">Nosotros</a></li>
                                <li><a href="#">Formación</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#" id="close">Cerrar sesión</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="col-md-12">
                        <!-- <div class="header">
                            
                        </div> -->

                        <div class="container-fluid">
                            <div class="content">
                                <center>
                                    <h1>¡Bienvenido al tutorial con Electron!</h1>

                                    <img src="../assets/img/pet-work.svg" style="width: 40%; margin-top: 50px;">
                                </center>
                                
                            </div>
                        </div>

                        <div class="footer">
                            <div class="footer-text-center">
                                <p>Copyright © Impacto Tecnológico - 2018</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>